/* map.css */
#content {
    position: relative;
    margin: 1px; 
  }
  
  .backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .back {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 30%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .sub1 {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0 10px 10px;
    width: 30%;
    height: 100%;
  }
  
  .sub2 {
    float: right;
    background-color: #fff;
    padding: 0 20px 0 20px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .create-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #map {
    height: 400px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
  